.feature-item {
  position: relative;
  margin-bottom: 1.2rem;
  border: 1ox solid;
  border-radius: 5px;
  padding: 15px;

  &__item {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }

  &__title {
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: .7em;
    margin-bottom: .8rem;
    text-align: center;

    @include atSmall {
      margin-top: 1em;
      font-size: 1.875rem;
      width: 100%;
    }
  }
} 