.row {
  &--t-padding {
    padding-top: 80px;
  }

  &__medium-aligned {
    margin-top: 50px;
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include atSmall {
    &__small-aligned {
      text-align: center;
    }
  }

  @include atMedium {
    &__medium-flex {
      display: flex;
    }

    &__medium-4 {
      width: 37%;
    }

    &__medium-6 {
      width: 50%;
    }

    &__medium-center {
      justify-content: center;
    }

    &__medium-aligned {
      align-items: center;
      padding: 0 15px;
      margin-top: 0;
    }

    &__medium-space {
      .feature-item:first-child {
        margin-right: 1.2rem; 
      }
    }

    &__medium-8 {
      width: 63%;
    }
  }

  @include atLarge {
    &__large-flex {
      display: flex;
    }

    &__large-4 {
      width: 33.33%;
    }
  }
} 