.social-icons {
	text-align: center;

	&__icon {
		background-color: $color_orange;
		display: inline-block;
		margin: 0 5px 5px 5px;
		width: 33%;
		height: 72px;
    position: relative;

		@include atSmall {
			width: 72px;
			margin: 0 5px;
		}

		.icon {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
      transform: translate(-50%, -50%);
      font-size: 40px;
      color: $color_white;
      max-width: 50px;
      height: 100%;
      fill: $color_white;
		}
	}
} 